@font-face {
    font-family: "OptimusPrinceps";
    src: url('../fonts/OptimusPrinceps.ttf') format("truetype");
}
h1 {
    color: #d67800;
}

body {
    font-family: "OptimusPrinceps", 'MedievalSharp', cursive;
    text-align: center;
    /* background-color: #100f10; */
    /* background-color: #100e0e; */
    background-color: #040204;
    color: blanchedalmond;
}

figure {
    position: relative;
    overflow: hidden;
    border: 2px solid #dab814;
    max-height: 270px;
}

figure img, figcaption {
    width: 100%;
    cursor: pointer;
}

figcaption {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.6);
    color: blanchedalmond;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

.flavour-text {
    font-family: times;
}

.background-fire {
    position: fixed;
    width: 50%;
    z-index: -1;
    transform: rotate(180deg);
}

.bg-bonfire {
    position: absolute;
    bottom: 0;
    right: -120px;
    z-index:-100;
}

#vol-control {
    font-size: 2em;
    opacity: 0.8;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

.character {
    overflow: hidden;
}

.flavour-text {
    display: none;
    font-size: 0.8em;
}

.green-text {
    color: #74fd74;
}

.red-text {
    color: #ff0000;
}

#attack-button {
    background-color: #6b6363;
    padding: 10px;
    color: blanchedalmond;
    cursor: pointer
}

#attack-report {
    margin: 20px;
}

.msg {
    font-family: "OptimusPrinceps", 'MedievalSharp', cursive;
    position: fixed;
    display: none;
    opacity: 0;
    top: 40%;
    margin: auto;
    z-index: 100;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    font-size: 4em;
}

.death-msg {
    color: #cf3900;
}

.victory-msg {
    color: #fff771;
    font-size: 4em;
}

#bonfire {
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    margin: 0 auto;
}

#bonfire img {
    width: 100%;
}

@media screen and (max-width: 1056px) {
    .header img {
        width: 100%;
    }
}